{% extends 'base.html.twig' %}

{% block title %}Receipe index{% endblock %}

{% block body %}
    <h1>Receipe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for receipe in receipes %}
            <tr>
                <td>{{ receipe.id }}</td>
                <td>{{ receipe.title }}</td>
                <td>{{ receipe.content }}</td>
                <td>
                    <a href="{{ path('admin_receipe_show', {'id': receipe.id}) }}">show</a>
                    <a href="{{ path('admin_receipe_edit', {'id': receipe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_receipe_new') }}">Create new</a>
{% endblock %}
