{% extends 'base.html.twig' %}

{% block body %}

{% if cart.elements %}
 <div class="container">
        <div class="m-5 text-center">
            <h1>Panier</h1>

</div>
 <table class="w-100">
 <tr>
 <th class="text-center"> Gâteau</th>
                <th class="text-center">Prix </th>
                <th class="text-center">Quantité</th>
                 <th class="text-center">Action</th>
</tr>
</tr>
 <form method="post">
{% for element in cart.elements %}
<tr>
 
<td class="p-3 text-center">{{ element.cake.Name }}</td>
<td class="p-3 text-center">{{ element.quantiy}}</td>
<td class="p-3 text-center">{{ element.cake.price }}</td>
 <td class="p-3 text-center">
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-danger">
                                <i class="fas fa-times" href="{{ path('cart_clear') }}"></i>
                            </button>
                        </div>
                    </td>
                </form>
            </tr>
{% endfor %}

</table>
  <div class="text-right mt-4">
          Total du panier : {{ cart.total }}
        </div>
         <div class="text-right mt-4">
            <a type="submit" class="btn btn-success" href="{{ path('payment_index') }}">
                Paiement <i class="fab fa-cc-mastercard"></i>
            </a>
        </div>

{% endif %}

{% endblock %}
