{% extends 'base.html.twig' %}

{% block title %}Cake{% endblock %}

{% block body %}
    <h1>Cake</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cake.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ cake.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ cake.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ cake.price }}</td>
            </tr>
            <tr>
                <th>ImageFilename</th>
                <td>
                  <img src="{{ asset('uploads/'  ~ cake.imageFilename) }}"/>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('catalog_index') }}">back to list</a>
{% endblock %}
